body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background: black;
  font-family: 'Amatic SC', cursive;
}

a {
  color: goldenrod;
}

/* App Component */
.App {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.App h1,
.App h2 {
  margin: 0.5em 0 0 0;
  width: 100%;
  font-family: 'Montez', cursive;
}
.App h1 {
  text-decoration: underline;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

/* Board Component */
.Board {
  display: flex;
  width: 36em;
  height: 36em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50% 50% 50% 50%;
  background: gray;
}

.black {
  background: black;
}

/* Button Component */
.Board > * {
  width: 20em;
  height: 20em;
  opacity: 0.5;
  border: 3px solid black;
  font-family: 'Montez', cursive;
}

.Board > *:hover {
  cursor: pointer;  
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.8);
}

.Board > *:focus {
  outline: none;
}

.button1 {
  border-radius: 100% 0 0 0;
  background: green;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.button2 {
  border-radius: 0 100% 0 0;
  background: red;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.button3 {
  border-radius: 0 0 0 100%;
  background: yellow;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.button4 {
  border-radius: 0 0 100% 0;
  background: blue;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.lit {
  opacity: 1;
  border: 3px solid white;
}

/* Options Component */
.Options {
  width: 100%;
  margin-top: 1em;
}

.Options button {
  width: 5em;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  margin-top: 1em;
}

.Options .strict {
  background: red;
}

/* Footer */
.Footer {
  width: 100%;
  margin: 1em;
  font-size: 1.5em;
}

@media all and (max-width: 1350px) {
  /* App Component */
  .App {
    max-width: 90%;
  }

  .App h1,
  .App h2 {
    padding: 0;
    margin: 0;
  }

  /* Board Component */
  .Board {
    width: 30em;
    height: 30em;
  }

  /* Button Component */
  .Board > * {
    width: 16em;
    height: 16em;
  }

  /* Options Component */
  .Options {
    margin: 0;
  }

  /* Footer */
  .Footer {
    font-size: 1.2em;
  }
}


@media all and (max-width: 1000px) {
  /* Board Component */
  .Board {
    width: 23em;
    height: 23em;
  }
  
  /* Button Component */
  .Board > * {
    width: 12em;
    height: 12em;
  }
}

@media all and (max-width: 500px) {
  /* Board Component */
  .Board {
    width: 16em;
    height: 16em;
  }

  /* Button Component */
  .Board > * {
    width: 8em;
    height: 8em;
  }

  /* Options Component */
  .Options button {
    width: 4em;
  }

  /* Footer */
  .Footer {
    font-size: 1em;
  }
}